* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.student-list {
    margin-top: 30px;
}

table {
    margin-top: 20px;
    border: 1px solid rgb(159, 155, 155);;
    width: 100%;
    border-spacing: 0;
}

thead tr td {
    font-weight: 400; 
}

thead tr td:last-child {
    text-align: right;
}

.table-heading-border td {
    border-bottom: 1px solid rgb(159, 155, 155);
}

td {
    padding: 5px 10px;
    width: calc(100% / 6);
}

.empty-list {
    border: 1px solid rgb(159, 155, 155);
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-top: none;
}

.empty-list h5 {
    margin-top: 10px;
}

.empty-list img {
    width: 80px;
}

.avatar {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid rgb(191, 191, 191);
}

.initials {
    width: 200px;
    display: flex;
    align-items: center;
}

.loader {
    text-align: center;
}

.loader img {
    width: 50px;
}

.icons img {
    width: 20px;
    opacity: 0;
    cursor: pointer;
}

.icons img:last-child {
    margin-left: 20px;
}

tbody tr:hover img {
    opacity: 1;
}

tbody tr:hover td {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.confirmation-modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(100, 97, 97, 0.308);
    backdrop-filter: blur(2px);
    display: block;
}

.confirmation-modal {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 10;
    background-color: #fff;
    padding: 20px 10px;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    cursor: pointer;
}

.modal-buttons {
    margin-top: 20px;
    border-top: 1px solid rgb(194,194,194);
    padding-top: 10px;
    text-align: right;
}

.modal-buttons button {
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid rgb(194,194,194);
    padding: 3px 5px;
    border-radius: 2px;
    cursor: pointer;
}

.modal-buttons button:last-child {
    border: 1px solid red;
    background-color: red;
    color: #fff;
}

.hidden {
    display: none;
}

.add-user {
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.add-user img {
    width: 100%;
    transition: transform ease-in .2s;
}

.add-user-open:hover img {
    transform: rotate(90deg);
}

.add-user-closed img {
    transform: rotate(45deg);
}

.add-user-closed:hover img {
    transform: rotate(135deg);
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
}

.form p {
    border-bottom: 1px solid rgb(167, 167, 167);
    margin-bottom: 20px;
    width: 60px;
}

input {
    padding: 5px 10px;
    outline: none;
    width: 100%;
}

.form div {
    width: 45%;
    margin-bottom: 20px;
}

.form div label {
    border-bottom: 1px solid rgb(167, 167, 167);
}

.form div:nth-child(5) input {
    width: 5%;
    margin-left: 10px;
}

.add-btn:disabled, .edit-btn:disabled {
    background-color: rgba(128, 128, 128, 0.61);
    cursor: not-allowed;
}

.add-btn, .edit-btn {
    background-color: rgb(9, 85, 9);
    color: #fff;
    padding: 8px 10px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    outline: none;
}

.edit-btn {
    background-color: orange;
}

.form div:nth-child(5) label {
    border: none;
    margin-left: 10px;
}

.form div:last-child {
    align-self: flex-end;
}

.user-data {
    margin-top: 30px;
}